{% extends 'base.html' %}

{% block content %}
    <div class = "container mt-5">
        {% if validlink %}
            <div class = "row justify-content-center align-items-center">
                <div class = "col-xl-4">
                    <div class="card">
                        <div class="card-header form-background-color">
                            <h2 class = "text-center">Reset Password</h2>
                        </div>
                        <div class="card-body form-background-color">
                            <form method="POST" novalidate>
                            {% csrf_token %}
                                <div class="form-group">
                                    {{ form.new_password1 }}
                                    <small class="text-danger">{{ form.errors.new_password1|striptags}}</small>
                                    <small class="text-white">{{ form.new_password1.help_text }}</small>
                                </div>
                                <div class="form-group">
                                    {{ form.new_password2 }}
                                    <small class="text-danger">{{ form.errors.new_password2|striptags}}</small>
                                </div>
                                <div class = "form-group text-center">
                                    <button type="submit" class="btn btn-block">Reset Password</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">
                <p class="text-white">
                    This password reset link is invalid, maybe because it has already been used.
                    Please request for a new password reset.
                </p>
            </div>
        {% endif %}
    </div>
{% endblock %}
