{% extends 'base.html' %}

{% block content %}
    <div class = "container mt-5">
        <div class = "row justify-content-center align-items-center">
            <div class = "col text-white">
                <p> We have emailed you instructions to reset your password on the email address you used to register with us.</p>
                <p> If you did not receive an email, please ensure that you provide a valid email address with which you registered with us.</p> 
            </div>
        </div>
    </div>

{% endblock %}
