{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="card-deck">
                <div class="card  form-background-color">
                    <div class="card-header text-center form-background-color">
                      <h2 class="card-title text-center">Access your <strong class="text-purple">notes</strong> from <strong class="text-purple">anywhere</strong></h2>
                    </div>
                    <div class="card-body text-white">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis auctor. Interdum velit euismod in pellentesque massa placerat duis ultricies.
                            A lacus vestibulum sed arcu non odio euismod lacinia at. Semper auctor neque vitae tempus. Lacinia quis vel eros donec ac odio tempor.
                            Egestas egestas fringilla phasellus faucibus scelerisque. Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Turpis cursus in hac habitasse.
                            Id velit ut tortor pretium viverra. Erat pellentesque adipiscing commodo elit at imperdiet.
                            Quis viverra nibh cras pulvinar. Orci nulla pellentesque dignissim enim sit. Volutpat diam ut venenatis tellus in metus vulputate eu. Amet cursus sit amet dictum sit.
                        </p>
                    </div>
                </div>
                <div class="card form-background-color">
                    <div class="card-header text-center form-background-color">
                        <h2 class="card-title text-center"><strong class="text-purple">Ubiquitous Diaries</strong> is <strong class="text-purple">Free</strong></h2>
                    </div>
                    <div class="card-body text-white">
                        <p class="card-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis auctor. Interdum velit euismod in pellentesque massa placerat duis ultricies.
                            A lacus vestibulum sed arcu non odio euismod lacinia at. Semper auctor neque vitae tempus. Lacinia quis vel eros donec ac odio tempor.
                            Egestas egestas fringilla phasellus faucibus scelerisque. Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Turpis cursus in hac habitasse.
                            Id velit ut tortor pretium viverra. Erat pellentesque adipiscing commodo elit at imperdiet.
                            Quis viverra nibh cras pulvinar. Orci nulla pellentesque dignissim enim sit. Volutpat diam ut venenatis tellus in metus vulputate eu. Amet cursus sit amet dictum sit.
                        </p>
                    </div>
                </div>
                <div class="card form-background-color">
                    <div class="card-header text-center form-background-color">
                        <h2 class="card-title text-center"><strong class="text-purple">Maximize</strong> your <strong class="text-purple">productivity</strong> with us</h2>
                    </div>
                    <div class="card-body text-white">
                        <p class="card-text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Bibendum est ultricies integer quis auctor. Interdum velit euismod in pellentesque massa placerat duis ultricies.
                            A lacus vestibulum sed arcu non odio euismod lacinia at. Semper auctor neque vitae tempus. Lacinia quis vel eros donec ac odio tempor.
                            Egestas egestas fringilla phasellus faucibus scelerisque. Cras fermentum odio eu feugiat pretium nibh ipsum consequat nisl. Turpis cursus in hac habitasse.
                            Id velit ut tortor pretium viverra. Erat pellentesque adipiscing commodo elit at imperdiet.
                            Quis viverra nibh cras pulvinar. Orci nulla pellentesque dignissim enim sit. Volutpat diam ut venenatis tellus in metus vulputate eu. Amet cursus sit amet dictum sit.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
