{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="card-deck">
                <div class="card  form-background-color">
                    <div class="card-header text-center form-background-color">
                      <h2 class="card-title text-center">Access your <strong class="text-purple">notes</strong> from <strong class="text-purple">anywhere</strong></h2>
                    </div>
                    <div class="card-body text-white">
                        <img class="card-img" src="{% static 'images/access_anywhere.jpg' %}" alt="Card image cap">
                    </div>
                </div>
                <div class="card form-background-color">
                    <div class="card-header text-center form-background-color">
                        <h2 class="card-title text-center"><strong class="text-purple">Ubiquitous Diaries</strong> is <strong class="text-purple">Free</strong></h2>
                    </div>
                    <div class="card-body text-white">
                      <img class="card-img" src="{% static 'images/happy_person.png' %}" alt="Card image cap">
                    </div>
                </div>
                <div class="card form-background-color">
                    <div class="card-header text-center form-background-color">
                        <h2 class="card-title text-center"><strong class="text-purple">Maximize</strong> your <strong class="text-purple">productivity</strong> with us</h2>
                    </div>
                    <div class="card-body text-white">
                      <img class="card-img" src="{% static 'images/productivity.jpg' %}" alt="Card image cap">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
